@charset "UTF-8";
/*!
 * Marp / Marpit SOAT theme.
 *
 * @theme soat
 * @author Michaël Fery
 *
 * @auto-scaling true
 * @size 4:3 960px 720px
 */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import-theme 'gaia';
section {
  font-size: 28px;
  font-family: 'Raleway', 'Avenir Next', 'Avenir', 'Trebuchet MS', 'Segoe UI', sans-serif;
  color: #1d1d1b;
  background-color: #fff;
  background: url(./themes/soat/backgrounds/bg0.png) no-repeat center center;
  /* Main pages title */ }
  section a,
  section mark {
    color: #4ab69a; }
  section code {
    background: #4a4a49;
    color: #fff;
    font-family: "Fira Code", monospace;
    font-variant-ligatures: normal; }
  section h1 strong,
  section h2 strong,
  section h3 strong,
  section h4 strong,
  section h5 strong,
  section h6 strong {
    color: #4ab69a; }
  section pre > code {
    background: #1d1d1b; }
  section header,
  section footer,
  section section::after,
  section blockquote::before,
  section blockquote::after {
    color: #4a4a49; }
  section table th,
  section table td {
    border-color: #1d1d1b; }
  section table thead th {
    background: #1d1d1b;
    color: #fff; }
  section table tbody > tr:nth-child(odd) td,
  section table tbody > tr:nth-child(odd) th {
    background: rgba(29, 29, 27, 0.1); }
  section ul {
    list-style: none; }
    section ul li::before {
      content: '➔';
      display: inline-block;
      margin-right: 25px; }
  section.invert {
    color: #fff;
    background-color: #1d1d1b;
    background: url(./themes/soat/backgrounds/bg0.png) no-repeat center center; }
    section.invert a,
    section.invert mark {
      color: #f6a000; }
    section.invert code {
      background: #d2d2d1;
      color: #1d1d1b;
      font-family: "Fira Code", monospace;
      font-variant-ligatures: normal; }
    section.invert h1 strong,
    section.invert h2 strong,
    section.invert h3 strong,
    section.invert h4 strong,
    section.invert h5 strong,
    section.invert h6 strong {
      color: #f6a000; }
    section.invert pre > code {
      background: #fff; }
    section.invert header,
    section.invert footer,
    section.invert section::after,
    section.invert blockquote::before,
    section.invert blockquote::after {
      color: #d2d2d1; }
    section.invert table th,
    section.invert table td {
      border-color: #fff; }
    section.invert table thead th {
      background: #fff;
      color: #1d1d1b; }
    section.invert table tbody > tr:nth-child(odd) td,
    section.invert table tbody > tr:nth-child(odd) th {
      background: rgba(255, 255, 255, 0.1); }
  section.soat {
    color: #fff;
    background-color: #4ab69a;
    background: url(./themes/soat/backgrounds/bg0.png) no-repeat center center; }
    section.soat a,
    section.soat mark {
      color: #f6a000; }
    section.soat code {
      background: #dbf0eb;
      color: #4ab69a;
      font-family: "Fira Code", monospace;
      font-variant-ligatures: normal; }
    section.soat h1 strong,
    section.soat h2 strong,
    section.soat h3 strong,
    section.soat h4 strong,
    section.soat h5 strong,
    section.soat h6 strong {
      color: #f6a000; }
    section.soat pre > code {
      background: #fff; }
    section.soat header,
    section.soat footer,
    section.soat section::after,
    section.soat blockquote::before,
    section.soat blockquote::after {
      color: #dbf0eb; }
    section.soat table th,
    section.soat table td {
      border-color: #fff; }
    section.soat table thead th {
      background: #fff;
      color: #4ab69a; }
    section.soat table tbody > tr:nth-child(odd) td,
    section.soat table tbody > tr:nth-child(odd) th {
      background: rgba(255, 255, 255, 0.1); }
  section.title {
    background: url(./themes/soat/backgrounds/bg1.png) no-repeat center center;
    background-size: cover;
    background-position: right center;
    padding-left: 78px;
    padding-bottom: 60px;
    display: table-cell;
    vertical-align: bottom; }
    section.title h1,
    section.title h2,
    section.title h3 {
      width: 70%; }
    section.title h2 {
      margin-bottom: 40px; }
    section.title h3 {
      font-size: 1.2em;
      margin-left: 70px; }
  section.red {
    background: url(./themes/soat/backgrounds/bg-red.png) right top no-repeat, #ed6965;
    background-size: cover; }
  section.green {
    background: url(./themes/soat/backgrounds/bg-green.png) right top no-repeat, #4ab69a;
    background-size: cover; }
  section.blue {
    background: url(./themes/soat/backgrounds/bg-blue.png) right top no-repeat, #5bc5f2;
    background-size: cover; }
  section.orange {
    background: url(./themes/soat/backgrounds/bg-orange.png) right top no-repeat, #f6a000;
    background-size: cover; }
  section.purple {
    background: url(./themes/soat/backgrounds/bg-purple.png) right top no-repeat, #867fbb;
    background-size: cover; }
  section.speaker {
    background-image: url(./themes/soat/pictos/SOAT_pictos_reunion.png), url(./themes/soat/backgrounds/bg-orange.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 20%, cover;
    background-position: left, top right; }
    section.speaker h2 {
      padding-left: 400px; }
    section.speaker p,
    section.speaker ul {
      padding-left: 400px; }
    section.speaker ul {
      margin-top: 30px;
      margin-bottom: 50px; }
    section.speaker img[alt~='social-network'] {
      height: 40px;
      margin-top: 0px;
      margin-bottom: -15px;
      margin-left: -10px;
      margin-right: 10px; }
    section.speaker a {
      text-decoration: none;
      color: #fff;
      padding-left: 0; }
  section.agenda ul {
    margin-left: 80px; }
  section.agenda ul li::before {
    color: #ffe60b; }
  section.chapter {
    padding-left: 160px;
    overflow: visible;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "count title" "none subtitle";
    align-items: flex-end;
    justify-content: center; }
    section.chapter h1 {
      grid-area: count;
      margin-right: 20px;
      line-height: 168px;
      font-size: 7em; }
    section.chapter h2 {
      grid-area: title;
      margin-top: 100px;
      font-size: 1.6em;
      max-width: 65%;
      align-self: left; }
    section.chapter h3 {
      grid-area: subtitle;
      font-weight: normal;
      font-size: 1em; }
  section img[alt~='bg-right'] {
    position: absolute;
    right: 80px;
    bottom: 120px;
    top: auto; }
  section img[alt~='center'] {
    display: block;
    margin: 0 auto; }
  section.workshop h1,
  section.break h1 {
    font-size: 250%; }
  section.end {
    background: url(./themes/soat/backgrounds/bg13.png) right top no-repeat, #4ab69a;
    background-size: cover; }
  section:not(.title):not(.speaker):not(.chapter):not(.agenda):not(.workshop):not(.break):not(.end) h1 {
    background: #867fbb;
    color: #fff;
    padding: 10px 20px;
    line-height: 60px;
    margin: 0 -20px; }

/* PAGINATION */
section::after {
  color: #1d1d1b;
  font-weight: bold;
  font-size: 1.2em; }

section.title::after,
section.end::after {
  visibility: hidden; }

/* 2-Columns Layout */
.column {
  float: left; }

.row:after {
  /* Clear floats after the columns */
  content: "";
  display: table;
  clear: both; }
